<div class="mkpl-lander">
  <div class="cover-img">
    <figure class="mkpl-cover-small fluidratio"></figure>
    <div class="cover-img-fade">
      <figure class="mkpl-cover-small-fade fluidratio"></figure>
    </div>
  </div>
  <div class='title-content'>
    <div class="title-wrapper">
      <div class="title-header">
        <h1>
          Edit <%= resource_name.to_s.humanize %>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container edit-user">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div style="height:100px">
    <h3>Private profile</h3>
    <p>Your private profile information is not visible to anyone but SoSo staff. Other registered users only see your name.</p>
  </div>
  <hr>
  <%#= image_tag resource.image %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class: "form-control" %>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="actions">
    <%= f.submit "Update", class: "btn btn-orange" %>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div style="height:100px">
    <h3>Public profile</h3>
    <p>Your public profile is visible only to other registered users. By letting people know a bit more about yourself it becomes easier for them to accept you.</p>
  </div>
  <hr>
  <div class="field form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :dob, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_addr, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :post_code %><br />
    <%= f.text_field :post_code, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :region %><br />
    <%= f.text_field :region, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :city %><br />
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :country %><br />
    <%= f.text_field :country, class: "form-control" %>
  </div>

  </div>
<% end %>

</div>
<div class="container">
<hr>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>


</div>
<br />
