<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients %>
      <% if user.blank? %>
        <%= f.select(:recipients, [], {}, { multiple: true , class: "select2 form-control" })%>
      <% else %>
        <%= f.select(:recipients, options_for_select([[ user.name, user.id ]], [user.name, user.id]), {}, { multiple: true , class: "select2 form-control" })%>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>

    <%= f.submit "Send Message", class: "btn btn-success" %>

<% end %>

<script>
$.ajaxPrefilter(function (options, originalOptions, jqXHR) {
  if (options.cache) {
    var processResults = originalOptions.processResults;
    var success = originalOptions.success || $.noop,
      url = originalOptions.url;

    var key = originalOptions.url + "#" + originalOptions.data.name
    options.cache = false; //remove jQuery cache as we have our own localStorage
    options.beforeSend = function () {
      if (localStorage.getItem(key)) {
        success(JSON.parse(localStorage.getItem(key)));
      }
    };
    options.success = function (data, textStatus) {
      localStorage.setItem(key, JSON.stringify(data));
      setTimeout(function(){
        localStorage.removeItem(key);
      }, 300);
      if ($.isFunction(success)) {
        success(data); //call back to original ajax call
      }
    };
  }
});
  $('select.select2').select2({
    ajax: {
      delay: 250,
      url: "<%= search_by_name_users_path %>",
      dataType: 'json',
      cache: true,
      data: function (params) {
        return {
          name: params.term // search term
        };
      },
      processResults: function (data) {
        jsonData = JSON.parse(data.users);
        var i, pdata = [];
        for (i=0; i<jsonData.length; i++) {
          pdata.push({id: jsonData[i].id, text: jsonData[i].name});
        }
        return {
          results: pdata
        };
      }
    }
  });

</script>
