<div class="container">
  <h2>Conversation</h2>
  <!-- deprecated (buttons may go here)
  <div class="row">
  <div class="spacer"></div>
  <div class="col-md-6">
  </div>
  <div class="col-md-6 text-right">
  </div>
  </div>

  -->
  <div class="row">
    <div class="spacer"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'mailbox/folders' %>
          <br />
          <%= link_to "Compose", new_conversation_path, class: "btn btn-orange" %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render partial: 'messages' %>
        </div>
        <div class="panel-footer">
          <!-- Reply Form -->
          <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
            </div>
            <%= f.submit "Reply", class: 'btn btn-orange pull-right' %>
          <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
      <% if conversation.is_trashed?(current_user) %>
        <%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
      <% else %>
        <%= link_to 'Move to trash', trash_conversation_path(conversation), class: 'btn btn-danger', method: :post,
          data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>

  </div>
</div>

