<% cache(@user) do %>
<div class="mkpl-lander">
  <div class="cover-img">
    <figure class="mkpl-cover-small fluidratio"></figure>
    <div class="cover-img-fade">
      <figure class="mkpl-cover-small-fade fluidratio"></figure>
    </div>
  </div>
  <div class='title-content'>
    <div class="title-wrapper">
      <div class="title-header">
        <h1>
          <%= @user.name %>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container show-user">
  <br />
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div>
      <h3>Selling Properties</h3>
      <p>Properties owned by this user. Other registered users can see this page.</p>
    </div>
    <hr>
    <div id="wrapper">
      <!-- list/grid view -->
      <div id="pp-holder-wrapper" class="row">
        <div id="pp-holder" class="<%= @view %>">
          <%= render partial: 'properties/properties', locals: {properties: @properties} %>
        </div>
      </div>
      <!-- list/grid view end -->
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag @user.image, class: "owner-avatar-image" %>
    <hr>
    <%= "<h5><b>Email:</b> #{@user.name} </h5>".html_safe if @user.name  %>
    <%= "<h5><b>Gender:</b> #{@user.gender} </h5>".html_safe if @user.gender  %>
    <%= "<h5><b>DOB:</b> #{@user.dob} </h5>".html_safe if @user.dob  %>
    <%= "<h5><b>Occupation:</b> #{@user.occupation} </h5>".html_safe if @user.occupation  %>
    <%= "<h5><b>Street Addr:</b> #{@user.street_addr} </h5>".html_safe if @user.street_addr  %>
    <%= "<h5><b>Post Code:</b> #{@user.post_code} </h5>".html_safe if @user.post_code  %>
    <%= "<h5><b>Region:</b> #{@user.region} </h5>".html_safe if @user.region  %>
    <%= "<h5><b>City:</b> #{@user.city} </h5>".html_safe if @user.city  %>
    <%= "<h5><b>Country:</b> #{@user.country} </h5>".html_safe if @user.country  %>

    <% if current_user  == @user%>
      <hr>
      <a href="<%= edit_user_registration_path %>" type="button" class="btn btn-block btn-warning"> Edit Profile</a>
    <% else %>
      <hr>
      <a href="<%= new_conversation_path %>?user_id=<%= @user.id %>" type="button" class="btn btn-lg btn-block btn-warning <%= current_user.nil? == true ? 'required-login' : ''  %>"> Contact </a>
    <% end %>
  </div>
</div>
<% end %>
