<%= form_for(property, html: {class: "form pp-form pp-form-long"}) do |f| %>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :city,"City" %>
      <%= f.text_field :city,class: "typeahead tt-input",placeholder: "Helsinki" %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.label :property_type,"Type" %>
      <%= f.select :property_type,["Shared Appartment","Studio","Private","Single Room"],{},class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 form-group">
      <%= f.label :address,"Your room address" %>
      <%= f.text_field :address,class: "form-control long location-address-input",placeholder: "123 Maapitidee 5"%>
    </div>
    <div class="col-md-4 form-group">
      <%= f.label :area,"Total area" %>
      <div class="input-group">
        <%= f.number_field :area,class: "form-control long",placeholder: "12"%>
        <span class="input-group-addon">m2</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 form-group">
      <%= f.label :period_start,"Start date" %>
      <%= f.text_field :period_start,class: "form-control timepicker" %>
    </div>
    <div class="col-md-3 form-group">
      <%= f.label :period_end,"End date" %>
      <%= f.text_field :period_end,class: "form-control timepicker" %>
    </div>
    <div class="col-md-3 form-group">
      <%= f.label :rent,"Rent" %>
      <div class="input-group">
        <span class="input-group-addon">€</span>
        <%= f.text_field :rent,class: "form-control number-format" %>
      </div>
    </div>
    <div class="col-md-3 form-group">
      <%= f.label :quantity,"Per" %>
      <%= f.select :quantity,["Day","Month","All"],{},class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :description,"Description" %>
      <%= f.text_area :description,class: "form-control",rows: "5",placeholder: "Some basic information about your place" %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.label :pictures %><br>
      <%= f.fields_for :property_pictures do |p| %>
        <div class="field">
          <%= p.file_field :picture, :multiple => true, name: "property_pictures[picture][]", onchange: "readURL(this)", id: "property_property_pictures_attributes", style: "visibility: hidden; height: 0;"%>
        </div>
      <% end %>
      <div class="property-pictures add-new" onclick="$('#property_property_pictures_attributes').click()">
        <i class="glyphicon glyphicon-plus"></i>
      </div>
      <div class="property-pictures preview">
        <div class="preview-container"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.submit "#{property.id.blank? == true ? 'Post My Place' : 'Update My Place'}",class: "main-orange-btn btn-lg btn-block #{current_user.nil? == true ? 'required-login' : ''}" %>
    </div>
  </div>
<% end %>


<script>
  var hello = <%=raw cache_cities.map{|m| m['name']}.to_json %>;
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;
      matches = [];
      substrRegex = new RegExp(q, 'i');
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };
   $('.pp-form-long .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'hello',
    source: substringMatcher(hello)
  })
  var startPeriod = new Date();
  $(function () {
    $('.pp-form-long .timepicker').datepicker( {
      orientation: "top auto",
      format: "yyyy-mm-dd",
      autoclose: true,
      weekStart: 1,
      startDate: startPeriod
    }).on('changeDate', function(ev) {

    }).on('hide', function(event) {
      event.preventDefault();
      event.stopPropagation();
      return false;
    }).click(function(e) {
       e.preventDefault();
       e.stopPropagation();
    })
  });
$(document).ready(function() {
  $('#new_property.pp-form-long').sisyphus({
    excludeFields: $("input[type=file]"),
    customKeySuffix: "",
    locationBased: false,
    timeout: 0,
    autoRelease: true,
    onSave: function() {},
    onBeforeRestore: function() {},
    onRestore: function() {},
    onRelease: function() {}
  });
});
$(".pp-form-long #property_address").maxlength({
  threshold: 10
});

</script>
