<% cache property do %>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="pin" onclick='window.open("<%= property_path(property) %>")'>
      <div class="fluid-thumbnail-grid-image-title">
        <% if property.property_pictures.empty? %>
          <img src="<%= image_path('thumbnail-default.jpg') %>" />
        <% else %>
          <img src="<%= property.property_pictures.first.picture.thumb.url %>" />
        <% end %>
        <div class="title">
          <%= property.property_type %>
        </div>
        <div class="price">
          € <%= property.rent %> / <%= property.quantity %>
      </div>
      </div>
      <div class="fluid-relative description">
        <div class="pp-details">
          <strong class="org-st" style="color: #337ab7">
            <%= property.period_start.strftime("%D") %> - <%= property.period_end.strftime("%D") %>
          </strong>
          <br/>
          <%= property.address %>, <%= property.city %>, <%= property.country %>
        </div>
        <div class="clear clearfix"> </div>
      </div>
    </div>
  </div>
<% end %>

