<%= form_for(property ,html: {class: "form pp-form pp-short-form"}, with_sisyphus: false) do |f| %>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :city,"City" %>
      <%= f.text_field :city,class: "short-form typeahead tt-input",placeholder: "Helsinki" %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.label :property_type,"Type" %>
      <%= f.select :property_type,["Shared Appartment","Studio","Private","Single Room"],{},class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group location-address-input ">
      <%= f.label :address,"Your room address" %>
      <%= f.text_field :address,class: "form-control long location-address-input",placeholder: "123 Maapitidee 5",maxlength: 55%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 form-group">
      <%= f.label :period_start,"Start date" %>
      <%= f.text_field :period_start,class: "form-control start-time timepicker" %>
    </div>
    <div class="col-md-5 form-group">
      <%= f.label :period_end,"End date" %>
      <%= f.text_field :period_end,class: "form-control end-time timepicker" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 form-group">
      <%= f.label :rent,"Rent" %>
      <div class="input-group">
        <span class="input-group-addon">€</span>
        <%= f.text_field :rent,class: "form-control number-format" %>
      </div>
    </div>
    <div class="col-md-5 form-group">
      <%= f.label :quantity,"Per" %>
      <%= f.select :quantity,["Day","Month","All"],{},class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.submit "Post My Place",class: "main-orange-btn btn-lg btn-block #{current_user.nil? == true ? 'required-login' : ''}" %>
    </div>
  </div>
<% end %>


<script>
  var hello = <%=raw cache_cities.map{|m| m['name']}.to_json %>;
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;
      matches = [];
      substrRegex = new RegExp(q, 'i');
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };
  $('.pp-short-form .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'hello',
    source: substringMatcher(hello)
  })
  var startPeriod = new Date();
  $(function () {
    $('.timepicker').datepicker( {
      orientation: "top auto",
      format: "yyyy-mm-dd",
      autoclose: true,
      weekStart: 1,
      startDate: startPeriod
    }).on('changeDate', function(ev) {

    }).on('hide', function(event) {
      event.preventDefault();
      event.stopPropagation();
      return false;
    }).click(function(e) {
       e.preventDefault();
       e.stopPropagation();
    });
    $(".start-time").each(function(index,e) { $(e).datepicker("setDate",new Date()) });
  });

$(document).ready(function() {
  $('#new_property.pp-short-form').sisyphus({
    excludeFields: $("input[type=file]"),
    customKeySuffix: "",
    locationBased: false,
    timeout: 0,
    autoRelease: true,
    onSave: function() {},
    onBeforeRestore: function() {},
    onRestore: function() {},
    onRelease: function() {}
  });
  $("#property_address").maxlength({
    threshold: 10
  });
});
</script>
