<%= render partial: 'shared/mkpl_small_with_search', locals: { city: @city, description: "The awesome city" } %>

<div class="container">

  <!-- top bar -->
  <div class="home-toolbar clear clearfix">
    <!-- button group to switch views -->
    <div class="filters-enabled home-toolbar-button-group">
      <a href="javascript:window.history.pushState('properties-grid', '', '/properties?city=<%= @city %>&view=grid');" class="home-toolbar-button-group-button <%= @view == "grid" ? "selected" : ""%>" title="grid">
        <i class="glyphicon glyphicon-th-large"></i>
        <span class="home-toolbar-button-text">
          Grid
        </span>
      </a>
      <a href="javascript:window.history.pushState('properties-grid', '', '/properties?city=<%= @city %>&view=list');" class="home-toolbar-button-group-button <%= @view == "list" ? "selected" : ""%>" title="list">
        <i class="glyphicon glyphicon-th-list"></i>
        <span class="home-toolbar-button-text">
          List
        </span>
      </a>
      <a href="/properties?city=<%= @city %>&view=map" class="home-toolbar-button-group-button <%= @view == "map" ? "selected" : ""%>" title="map">
        <i class="glyphicon glyphicon-globe"></i>
        <span class="home-toolbar-button-text">
          Map
        </span>
      </a>
    </div>

    <!-- Dropdown
    <div class="home-toolbar-filters home-toolbar-filters-mobile-hidden" id="home-toolbar-filters">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="">Sort by Price</a></li>
          <li><a href="#">Sort by Posted Date</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Sort by Type</a></li>
        </ul>
      </div>
    </div>
    -->
  </div>

  <!-- left column for filters -->
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pp-filters">
    <h4> <i class="glyphicon glyphicon-search"></i> Search terms</h4>
    <div class="filter-wrapper ">
      <a class="btn btn-sm btn-default pull-right" href="<%= properties_path(city: @city,reset: true) %>" data-remote="true" onclick="reset_filter()"> X </a>
      <%= form_tag(search_by_properties_path,method: :get,remote: true,id: "pp-filter") do %>
        <div class="filter" id="price-filter" style="padding-top: 10px;">
          <label for="price">Price range:</label>
          <input type="text" id="pp-price-input" readonly style="border:0; color:#f6931f; font-weight:bold;" class="slider-input">
          <input type="hidden" id="hidden-pp-min-price" name="filter[min_rent]" readonly >
          <input type="hidden" id="hidden-pp-max-price" name="filter[max_rent]" readonly >
          <div id="price-range"></div>
        </div>
        <div class="filter" id="area-filter">
          <label for="price">Area range:</label>
          <input type="text" id="pp-area-input" readonly style="border:0; color:#f6931f; font-weight:bold;"  class="slider-input">
          <input type="hidden" id="hidden-pp-min-area" name="filter[min_area]" >
          <input type="hidden" id="hidden-pp-max-area" name="filter[max_area]" >
          <div id="area-range"></div>
        </div>
        <div class="filter" id="max-filter">
          <label for="price">Max Person:</label>
          <input type="text" id="pp-max-input" name="filter[guest]" readonly style="border:0; color:#f6931f; font-weight:bold;"  class="slider-input">
          <div id="max-range"></div>
        </div>
        <div class="filter" id="date-filter" style="margin-bottom: 0px;">
          <div class="row">
            <div class="form-group col-md-6 col-xs-6 col-sm-6">
              <label for="start_period"> Start </label>
              <input type="text" id="start_period" name="filter[period_start]" class="form-control start-time timepicker">
            </div>
            <div class="form-group col-md-6 col-xs-6 col-sm-6">
              <label for="end_period"> End </label>
              <input type="text" id="end_period" name="filter[period_end]" class="form-control end-time timepicker">
            </div>
          </div>
        </div>
        <div class="filter" id="address filter">
          <div class="form-group">
            <label for="address"> Address </label>
            <input type="text" id="address" name="filter[address]" class="form-control" placeholder="E.g: Maapadontie 5">
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-warning"> Search </button>
        </div>
      <% end %>
    </div>
  </div>
  <!-- right column for results -->
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div id="wrapper">

      <!-- list/grid view -->
      <div id="pp-holder-wrapper" class="row">
        <div id="pp-holder" class="<%= @view %> unload">
          <i class='fa fa-spinner fa-spin'></i>
        </div>
      </div>
      <!-- list/grid view end -->
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $.ajax({
      type: "GET",
      dataType: "script",
      url: "<%= properties_path %>",
      data: {city: "<%= @city %>"},
      success: function() {
        if($(".pagination").length != 0)
          $("#pp-holder-wrapper").append("<div ><button class='btn btn-primary btn-block' id='nxt-btn' onclick='next_page()'> <i class='glyphicon glyphicon-triangle-bottom'></i> </button></div>");
       // $(window).scroll(function() {
       //   if($(window).scrollTop() + $(window).height() > $(document).height() - .75*$(document).height()) {
       //     next_page();
       //   }
       // });
      }
    })
    $("#pp-filter").submit(function() {
      $("#pp-holder").html("<i class='fa fa-spinner fa-spin'></i>");
    })
    $('.home-toolbar-button-group > a').click(function(){
      $(this).addClass('selected');
      $(this).siblings().removeClass('selected');
      $('#pp-holder')[0].className = $(this).attr('title');
    })
    $(function() {
      $( "#price-range" ).slider({
        range: true,
        min: 10,
        max: 1000,
        values: [ 10, 1000 ],
        step: 10,
        slide: function( event, ui ) {
          $( "#pp-price-input" ).val( "€" + ui.values[ 0 ] + " - €" + ui.values[ 1 ] );
          $("#hidden-pp-min-price").val(ui.values[0]);
          $("#hidden-pp-max-price").val(ui.values[1]);
        }
      });
      $( "#pp-price-input" ).val( "€" + $( "#price-range" ).slider( "values", 0 ) +
        " - €" + $( "#price-range" ).slider( "values", 1 ) );
      $("#hidden-pp-min-price").val($( "#price-range" ).slider( "values", 0 ) );
      $("#hidden-pp-max-price").val($( "#price-range" ).slider( "values", 1 ) );
    });
    $(function() {
      $( "#area-range" ).slider({
        range: true,
        min: 0,
        max: 100,
        values: [ 10, 100 ],
        step: 5,
        slide: function( event, ui ) {
          $( "#pp-area-input" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] + " m2");
          $("#hidden-pp-min-area").val(ui.values[0]);
          $("#hidden-pp-max-area").val(ui.values[1]);
        }
      });
      $( "#pp-area-input" ).val( $( "#area-range" ).slider( "values", 0 ) +
        " - " + $( "#area-range" ).slider( "values", 1 ) + " m2");
      $("#hidden-pp-min-area").val($( "#area-range" ).slider( "values", 0 ) );
      $("#hidden-pp-max-area").val($( "#area-range" ).slider( "values", 1 ) );
    });
    $(function() {
      $( "#max-range" ).slider({
        range: "min",
        value: 1,
        min: 1,
        max: 10,
        step: 1,
        slide: function( event, ui ) {
          $( "#pp-max-input" ).val( ui.value );
        }
      });
      $( "#pp-max-input" ).val($( "#max-range" ).slider( "value" ) );
    });
  })
  var next_page = function() {
    $(".pagination .next_page").click();
  };
  var reset_filter = function() {
    $("#price-range").slider("values",[10,1000]);
    $("#hidden-pp-max-price").val(1000);
    $("#hidden-pp-min-price").val(10);
    $("#pp-price-input").val( "€" + 10 + " - €" + 1000);

    $("#area-range").slider("values",[10,100]);
    $("#hidden-pp-max-area").val(10);
    $("#hidden-pp-min-area").val(100);
    $("#pp-area-input").val(10 + " - " + 100 + " m2");

    $("#max-range").slider("value",1);
    $("#pp-max-input").val(1);
  }
</script>
