if($("#pp-holder").hasClass("unload")) {
  $("#pp-holder").removeClass("unload");
  $("#pp-holder").html("");
}
$("#pp-holder").siblings('.pagination').remove();
$("#pp-holder").parent().append("<%=j js_will_paginate @properties %>");
if($('.pagination .next_page.disabled').length == 1 || $('.pagination').length == 0) {
  $("#nxt-btn").remove();
}
<% if params[:reset] %>
  $("#pp-holder").html("");
<% end %>
$("#pp-holder").append("<%=j render partial: 'properties',locals: {properties: @properties} %>");
