<div class="main-content" style="max-width: 928px">
  <div class="pp-title">
    <h1> Finish it </h1>
  </div>
  <div class="form-wrapper">
    <% property = Property.new %>
    <% property.property_pictures.build %>
    <%= render partial: "properties/long_form",locals: {property: property } %>
  </div>
</div>
