$("#pp-holder").html("");
$("#pp-holder").siblings('.pagination').remove();
<% if false %>
$("#pp-holder").parent().append("<%=j js_will_paginate @properties %>");
if($('.pagination .next_page.disabled').length == 1 || $('.pagination').length == 0) {
  $("#nxt-btn").remove();
}
<% end %>
$("#pp-holder").append("<%=j render partial: 'properties',locals: {properties: @properties} %>");
