<div class="mkpl-lander">
  <div class="cover-img">
    <figure class="mkpl-cover-small fluidratio"></figure>
    <div class="cover-img-fade">
      <figure class="mkpl-cover-small-fade fluidratio"></figure>
    </div>
  </div>
  <div class='title-content'>
    <div class="title-wrapper">
      <div class="title-header">
        <h1>
          <%= "#{@property.address}, #{@property.city}" %>
          <span> <i class="glyphicon glyphicon-home"></i> <%= @property.property_type %></span>
        </h1>
      </div>
    </div>
  </div>
</div>
<article class="main-page-content">

  <div class="main-content">
    <div class="back-link">
      <%= link_to properties_path(city: @city['name']) do %>
        <i class="glyphicon glyphicon-triangle-left"></i> Back to search results in <strong> <%= "#{@city['name']}" %></strong>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="qt-row" id="img-cs-wrapper">
          <div id="carousel-generic" class="carousel slide" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <% @property_pictures.each_with_index do |pp, index| %>
                <li data-target="#carousel-generic" data-slide-to="<%= index+1 %>" class="<%= index == 0 ? "active" : "" %>"></li>
              <% end %>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <% @property_pictures.each_with_index do |pp, index| %>
                <div class="item <%= index == 0 ? "active" : "" %>">
                  <img src="<%= pp.picture.url %>" alt="<%= index+1 %>">
                </div>
              <% end %>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="qt-row" id="description-wrapper">
          <p>
            <strong> Area: <%= @property.area %> m2 </strong>
          </p>
          <p>
            <%= @property.description %>
          </p>
        </div>
        <div class="qt-row" id="created-at-wrapper">
          <strong>
            <i class="glyphicon glyphicon-calendar"></i>
            <span> Listing created at <%= @property.created_at.strftime("%d %B %Y") %> </span>
        </div>
        <div class="qt-row clear clearfix" id="social-wrapper">
          <div class="social-btn" id="fb-btn-wrapper">
            <div class="fb-share-button" data-href='<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>' data-layout="button_count"></div>
          </div>
          <div class="social-btn" id="tw-btn-wrapper">
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          </div>
        </div>
      </div>

      <!-- SIDEBAR -->
      <div class="col-md-4">
        <div class="qt-row">
          <div class='price clear clearfix'>
            <span class="price-amount"> € <%= @property.rent %> </span>
            <span class="price-pp"> <%= @property.quantity == "all" ? "all" : "per #{@property.quantity}" %> </span>
          </div>
        </div>

        <div class="qt-row row-dd">
          <form >
            <div class="qt-link">
              <div class="qt-wrapper clear clearfix">
                <strong>
                  <i class="glyphicon glyphicon-calendar"></i>
                  <span> Available from </span>
                </strong>
                <h4 style="font-size: 18px;margin: 10px 0px 10px 0px;">
                  <p style="margin-bottom: 5px;"><span class="qt-period"><%= "#{@property.period_start.strftime("%d %B %Y")}" %> </span></p>
                  <p><strong style="font-size: 14px;margin: 0px 5px"> to </strong></p>
                  <p><span class="qt-period"><%= "#{@property.period_end.strftime("%d %B %Y")}" %></span></p>
                </h4>
              </div>
              <% if false %>
              <%# if @property.quantity != "all" %>
              <div class="qt-wrapper clear clearfix">
                <label for="pp-qq"> Number of <%=@property.quantity %>s: </label>
                <div class="qt-input">
                  <input id="quantity" min="1" name="quantity" placeholder="Quantity" step="1" type="number" value="1">
                </div>
              </div>
              <% end%>
            </div>
            <% unless @user.nil? %>
            <div class="qt-btn">
              <% if @user == current_user %>
                <a href="<%= edit_property_path(@property) %>" type="button" class="btn btn-lg btn-block btn-warning"> Edit </a>
              <% elsif @user %>
                <a href="<%= new_conversation_path %>?user_id=<%= @user.id %>" type="button" class="btn btn-lg btn-block btn-warning <%= current_user.nil? == true ? 'required-login' : ''  %>"> Contact </a>
              <% end %>
            </div>
            <% end %>
          </form>
        </div>

        <% unless @user.nil? %>
        <div class="qt-row row-dd">
          <div class="qt-owner">
            <div class="qt-owner-ava">
              <a href="<%= current_user == @user ? edit_user_registration_path(@user) : user_path(@user)  %>">
                <img alt="Open-uri20150706-11-1d0eer6?1436204991" class="owner-avatar-image" src="<%= @user.image %>">
              </a>
            </div>
            <div class="qt-owner-details">
              <div class="owner-name">
                <a href="<%= current_user == @user ? edit_user_registration_path(@user) : user_path(@user)  %>" class="owner-name-link"><%= @user.name %></a>
              </div>
              <div class="owner-contact">
                <% addr = "#{@user.street_addr} #{@user.city} #{@user.country}"  %>
                <span><%= addr.blank? == true ? "N/A" : addr %></span>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <div class="qt-row">
          <!-- GOOGLE MAP -->
          <div style='width: 100%'>
            <div id="map" style='width: 100%; height: 200px;'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @city['latitude'] %>,
      "lng": <%= @city['longitude'] %>,
      "infowindow": "I'm here!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(14);
});

</script>
