<section class="marketplace-lander">
<!-- cover image -->
<div class="coverimage">
  <figure class="marketplace-cover fluidratio <%= city.downcase %>-figure"></figure>
</div>
<div class="marketplace-wrapper">
  <div class="lander-content-container">
    <div class="lander-content marketplace-lander-content">
      <h1 class="marketplace-lander-content-title"><%= city %></h1>
      <p><%= description %></p>
      <!-- search form -->
      <% if true %>
      <div class="search-form">
        <form action="<%= properties_path %>" method="GET" class="form-inline">
          <div class="search-form-input search-form-text-field">
            <!-- auto complete -->
          </div>
          <div class="search-form-input">
            <input id="city" name="city" class="form-control" placeholder="" type="text">
            <button id="search-button" class="btn btn-primary" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </form>
      </div>
      <% end %>

    </div>
  </div>
</div>
</section>
