<section class="marketplace-lander">
<div class="coverimage">
  <figure class="marketplace-cover-small fluidratio"></figure>
  <div class="coverimage-fade">
    <figure class="marketplace-cover-small-fade fluidratio"></figure>
  </div>
</div>
<div class="title-container">
  <div class="title-header-wrapper container">
    <div class="marketplace-title-header">
      <h1><%= text %></h1>
    </div>
  </div>
</div>
</section>
