<div class="mkpl-lander">
  <div class="cover-img">
    <figure class="mkpl-cover-small fluidratio"></figure>
    <div class="cover-img-fade">
      <figure class="mkpl-cover-small-fade fluidratio"></figure>
    </div>
  </div>
  <div class='title-content'>
    <div class="title-wrapper">
      <div class="title-header">
        <div class="search-form">
          <form action="<%= search_by_properties_path %>" method="GET" class="form-inline" data-remote="">
            <div class="search-form-input">
              <div class="col-md-9 col-sm-9 col-xs-9">
                <input id="address" name="filter[address]" class="form-control" placeholder="Search everything in <%= city %>" type="text">
                <input id="city" name="city" class="form-control" value="<%= city %>" type="hidden">
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3">
                <button id="search-button" class="btn btn-lg btn-block btn-primary" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
