<div class="mkpl-lander">
  <div class="cover-img">
    <figure class="mkpl-cover-small fluidratio"></figure>
    <div class="cover-img-fade">
      <figure class="mkpl-cover-small-fade fluidratio"></figure>
    </div>
  </div>
  <div class='title-content'>
    <div class="title-wrapper">
      <div class="title-header">
        <h1>
          <%= text %>
        </h1>
      </div>
    </div>
  </div>
</div>
