<div class="mkpl-lander">
  <div class="cover-img">
    <figure class="mkpl-cover-small fluidratio"></figure>
    <div class="cover-img-fade">
      <figure class="mkpl-cover-small-fade fluidratio"></figure>
    </div>
  </div>
  <div class='title-content'>
    <div class="title-wrapper">
      <div class="title-header">
        <h1>
          Mailbox
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="container mailbox">
  <br />
  <div class="row">
    <div class="spacer"></div>
    <div class="col-md-12">
      <!-- we'll configure this to compose new conversations later -->
      <div class="spacer"></div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'mailbox/folders' %>
          <br />
          <%= link_to "Compose", new_conversation_path, class: "btn btn-orange" %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if is_conversation %>
            <%= render partial: 'conversations/form', locals: { user: user }  %>
          <% else %>
            <%= render partial: 'conversations/conversation', collection: messages %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

