<% cache do %>
<div id='content' class="background">
  <div class='wrapper content-wrapper'>
    <div class="main-content" >

      <!-- HEADER -->
      <header class="simple-header">
        <div class="simple-logo pull-left" >
          <h1 style="color: #0C3894;margin-bottom: 3px;font-size: 28px;"> Sublease <strong class='org-st'> in </strong> Finland </h1>
        </div>
        <div class="simple-icon pull-right">
          <img src="" width="42" height="42">
        </div>
        <div class="clearfix clear"></div>
      </header>

      <!-- CONTENT -->
      <div class="simple-main-content">
        <h1> Welcome </h1>
        <div class="city-content">
          <div class="city-header-wrapper">
            <span class="city-header">Please select your city below</span>
          </div>
          <div class="city-grid-wrapper clear clearfix">
            <ul class="city-list">
              <% @majors.each do |major| %>
                <li> <%= link_to major,properties_path(city: major),class: "flag block-link" %> </li>
              <% end %>
            </ul>
            <div class="city-input-wrapper">
              <div class="block-link" style="padding-top: 0.46923em !important">
                <form action="<%= properties_path %>" method="GET" class="city-input">
                  <label for="other-city" style="vertical-align: bottom">Other City : </label>
                  <input type="text" class="typeahead" id="other-city" name='city' placeholder="E.g: Vantaa">
                  <button type="submit" style="visibility: hidden;"></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="simple-footer">
        <div class="tagline">
          <h2>Where needers meet suppliers</h2>
          <hr>
        </div>
        <!-- NETWORK -->
        <div class="network " >
          <h1 style="color: #0C3894;margin-bottom: 3px;margin-top:0px;letter-spacing: 6px"> SOSO </h1>
          <span style="color: #5d76be;"> Sublease Network</span>
        </div>
      </div>

    </div>
  </div>
</div>
<% end %>

<script>
  $(".sl-btn").click(function(e) {
      $(".phase-sl").remove();
  })
  var hello = <%=raw @cities.to_json %>;
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };
  $('#other-city').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'hello',
    source: substringMatcher(hello)
  }).bind('typeahead:selected',function(obj,dat,name) {
    $(this).typeahead('close');
    setTimeout(function() {
      $("form").submit();
    },50);
  });
</script>
