</br>
<div class="social-btn-wrapper">
  <a class="fb-connect btn  btn-lg btn-block btn-social btn-facebook" href="<%= user_omniauth_authorize_path(:facebook) %>" id="fb-login">
    <i class="fa fa-facebook"></i> Sign in with Facebook
  </a>
</div>

</br>
<div class="social-btn-wrapper">
  <a class="gg-connect btn btn-lg btn-block btn-social btn-google" href="<%= user_omniauth_authorize_path(:google_oauth2) %>" id="fb-login">
    <i class="fa fa-google"></i> Sign in with Google
  </a>
</div>

</br>
<div class="social-btn-wrapper">
  <a class="tt-connect btn btn-lg btn-block btn-social btn-twitter" href="<%= user_omniauth_authorize_path(:twitter) %>" id="tt-login">
    <i class="fa fa-twitter"></i> Sign in with Twitter
  </a>
</div>
