<div class="mobile-link">
  <%= render partial: 'shared/mkpl_small_no_search', locals: {text: "Sign in to the social Network "} %>
</div>

<div class="container login-long-form">
  <div class="row dsk-link" style="margin-top: 50px;">
    <div class="col-md-offset-4 col-xs-offset-1 col-sm-offset-1">
      <h3> Sign in to the social network</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-4 col-lg-offset-4">
      <%= render partial: 'login_form' %>
    </div>
  </div>
</div>

