/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-table
 *= require bootstrap-datepicker3.min
 *= require jquery-ui/autocomplete
 *= require jquery-ui/slider
 *= require font-awesome
 */

//Core
@import "mixin/*";

//Typehead
@import "typehead";

//Style Patterns
@import "sessions";
@import "properties";
@import "users";
@import "mailbox";
@import "bootstrap-social";
@import "select2.min";


@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), font-url('glyphicons-halflings-regular.woff') format('woff'), font-url('glyphicons-halflings-regular.ttf') format('truetype'), font-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}



body,h1,h2,h3,h4,span {
  color: #6f6f6f;
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

body {
}

.main-orange-btn {
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
  border-radius: 0.3125em;
  background: $orange;
  color: #fff;
  cursor: pointer;
  padding: 0 1.5em;
  border: 0;
  display: table;
  line-height: 1.5em;
  font-size: 22px;
  height: 60px;
  line-height: 24px;
  padding-bottom: 3px;
  margin-top: 0;
  width: 100%;
  text-align: center;
  &:hover {
    background: #f59e4d;
  }
}


.dropdown.open .caret{
  border-top: none;
  border-bottom: 4px solid #000000;
}

.row-dd {
  border-bottom:1px solid #c3c3c3;
}

.background {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

div.background::after {
  content: "";
  background: image-url('fin.svg');
  background-repeat: no-repeat;
  background-position: right 5% top 5% ;
  background-size: 40% auto;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.phase-sl {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #adadad;
  opacity: 0.9;
}
.phase-sl .row {
  position:relative;
  top: 40%;
}
.phase-sl button {
  font-size: 5.1em;
}

.content-wrapper {
}

.main-content {
  padding-left: 1.53846em;
  padding-right: 1.53846em;
  margin: 0 auto;
  max-width: 1020px;
  padding-bottom:7.69231em;
}

.simple-header {
  padding:5.38462em 0em 0.76923em;
  margin-bottom: 1.15385em;
}

.simple-logo {
  margin-top: 0;
  margin-right: 3.07692em;
  /*line-height: 3.23077em;*/
  min-width: 215px;
}

.simple-main-content {
  padding-bottom: 40px;
}

.simple-main-content h1 {
  margin-bottom:0.57634em !important;
  font-size:5.15385em;
  margin: 0em 0em 0.12987em;
  font-weight: normal;
  text-transform: none;
  color: #999;
  letter-spacing: -0.06494em;
  line-height: 1.1em;
}

.city-header-wrapper {
  margin-top: 0.76923em;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 0.76923em;
}

.city-header {
  font-size: 1.23077em;
  color: #464646;
  text-transform: uppercase;
  vertical-align: middle;
}

.city-list-wrapper {
  content: " ";
  display: table;
}

.city-list {
  display: inline-block;
  margin-left: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}

.city-list li:before {
  content: " ";
  content: none;
  font-size: 2em;
  padding-right: 5px;
  vertical-align: middle;
  position: absolute;
  margin-left: -0.6em;
}

a {
  text-decoration: none;
  outline: 0;
}
.block-link {
  border-bottom: 1px solid #d7d7d7;
  height: 50px;
  display: inline-block;
  width: 100%;
  padding:0.76923em 0em 0.76923em 0.76923em !important;
  font-size:1.22308em;
}
.block-link:hover {
  text-decoration: none;
  background-color: $orange;
  color: #fff !important;
  label {
    color: #fff !important;
  }
}

@media screen and (min-width: 64.6875em) {
  .city-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    width: 60%;
  }
}

@media screen and (min-width: 48.0625em) {
  .city-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    width: 50%;
  }
}

@media screen and (min-width: 37.5em) {
  .city-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
}

@media screen and(max-width: 581px) {
  .city-input #other-city {
    width: 150px !important;
  }
  .city-input .typeahead {
    width: 150px !important;
  }
  .social-btn-wrapper .btn-social {
    font-size: 14px !important;
  }
}

.city-content {
}

.city-input-wrapper {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.city-input {
  padding-right: 10px;
  cursor: pointer;
}
.city-input label {
  color: #337ab7;
  font-weight: normal;
  cursor: inherit;
}

.city-input #other-city {
  width: 200px;
}

.simple-footer {
  padding-top: 30px;
}

.tagline {

}
.tagline .icon-soso,h2 {
  display:inline-block;
}
.icon-soso {
  line-height: 1;
  font-size: 1.23846em;
  position: relative;
  margin-bottom: -0.37778em;
  vertical-align: top;
  color: #ccc;
  font-style: italic;
}
.icon-soso:after {
  content: "SOSO";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

.tagline h2 {
  font-size: 1.53846em;
  font-weight: normal;
  color: #747474;
  /*vertical-align: -1.9em;*/
  margin: 0em 0em 0em 0.23077em;
}

/* override navbar and dropdown in header */
header {
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-brand {
      line-height: 25px;
    }
    .navbar-nav > li > a {
      line-height: 36px;
    }

  }

  .navbar-default {
    background-color: white !important;
    border-color: darken(white, 15%) !important;
  }
  .navbar a {
    color: $fade_blue !important;
  }

  /* .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .navbar-default .navbar-nav > .active > a { */
  /* background-color: darken(white, 15%) !important; */
  /* } */

  /* .dropdown-menu { */
  /* background-color: $fade_blue !important; */
  /* } */

  /* .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { */
  /* background-color: darken($fade_blue, 15%) !important; */
  /* } */
  .dropdown-menu > li.active > a {
    color: white !important;
  }
  /* .nav-tabs, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { */
  /* border: 0px !important; */
  /* } */
  /* .caret { */
  /* color: white !important; */
  /* } */

}
body > .alert {
  margin-bottom: 0px;
}

.btn.btn-orange {
  color: white !important;
  background-color: $orange !important;
  border-color: darken($orange, 15%) !important;
  &:hover {
    background-color: darken($orange, 5%) !important;
  }
}


.topbar-link:hover {
  background-color: #EEE !important;
}
.navbav-nav li a:hover {
  background-color: #EEE !important;
}
.navbar-nav li a.topbar-link-ontop {
  height: 59px;
}
.navbar-nav {
  font-size: 16px;
}

#pp-holder-wrapper .pagination {
  margin: 0px;
  visibility: hidden;
  opacity: 0;
}


header .navbar .nav a.btn-warning.mobile-link {
  color: #fff !important;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
  &:hover {
    color: #fff !important;
    background-color: #ec971f !important;
    border-color: #d58512 !important;
  }
}

header .inbox-ico {
  font-size: 120%;
  vertical-align: center;
}
