.navbar {
  margin-bottom: 0px !important;
}
.marketplace-lander {
  position: relative;
  margin: 0;
  .coverimage {
    margin: 0;
    position: relative;
    max-width: 120em;
    margin-left: auto;
    margin-right: auto;
    .coverimage-fade {
      position: absolute;
      top: 0em;
      max-width: 120em;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      background: rgba(173, 173, 173, 0.39);
      .marketplace-cover-small-fade {
        padding-top: 0%;
        height: 6em;
        background-size: cover;
        -moz-background-size: cover;
        background-position: center;
      }

    }
    .marketplace-cover-small {
      padding-top: 0%;
      height: 6em;
      background-size: cover;
      -moz-background-size: cover;
      background-position: center;
      background-image: url("figure.jpg");

    }
    figure.marketplace-cover-small.fluidratio {
      position: relative;
      display: block;
      height: 6em;
      background-size: cover;
      -moz-background-size: cover;
      background-position: center;
      background-position: center center;
    }
    .marketplace-cover {
      background-size: cover;
      padding-top: 0%;
      background-position: center;
      height: 32.3125em;
      background-image: url("figure.jpg");
    }
    .helsinki-figure {
      background-image: url("http://www.blogforphotos.com/images/hdr-in-helsinki/helsinki-central-railway-station-hdr.jpg") !important;
    }
    figure.fluidratio {
      position: relative;
      display: block;
      height: 32.3125em;
      background-size: cover;
      -moz-background-size: cover;
      background-position: center;
      background-position: center center;
    }
  }
  .marketplace-wrapper {
    padding-left: 0.75em;
    padding-right: 0.75em;
    background: #fff;
    margin: 0 auto;
    max-width: 63em;
    .lander-content-container {
      position: relative;
    }
  }
  .marketplace-lander-content {
    h1 {
      color: white !important;
    }
    color: white !important;
    top:-22.875em;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
  }
  .marketplace-lander-content-title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 4.25em;
    line-height: 1.05882em;
    font-weight: 700;
    line-height: 0.9375em;
  }
  p {
    font-size: 1.625em;
    line-height: 1.38462em;
    font-weight: 600;
    margin: 0.75em auto;
    max-width: 22.5em;
  }

  .title-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .title-header-wrapper {
      opacity: 0.6;
      color: #474747;
      /* padding-left: 4.75em; */
      /* padding-right: 0.75em; */
      /* margin: 0 auto; */
      /* max-width: 63em; */
      background: transparent;
      /* width: 100%; */
      /* height: 100%; */
    }
  }
}

#wrapper {
	width: 100%;
	/* max-width: 1100px; */
	/* min-width: 800px; */
	margin: 15px auto;
}

#pp-holder.grid {
	/* -webkit-column-count: 3; */
	/* -webkit-column-gap: 10px; */
	/* -webkit-column-fill: auto; */
	/* -moz-column-count: 3; */
	/* -moz-column-gap: 10px; */
	/* -moz-column-fill: auto; */
	/* column-count: 3; */
	/* column-gap: 15px; */
	/* column-fill: auto; */
  .col-md-4,.col-sm-6,.col-xs-12 {
    padding-bottom: 10px;
  }
  .pin {
    vertical-align: top;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    /* opacity: 1; */
    display: inline-block;
    background: #FEFEFE;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 190px;

    /* -webkit-transition: all .2s ease; */
    /* -moz-transition: all .2s ease; */
    /* -o-transition: all .2s ease; */
    /* transition: all .2s ease; */
  }

  .pin img {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    max-height: 146px;
    border-bottom: 1px solid #ccc;
  }

  .pin div.description {
    /* font: 12px/18px Arial, sans-serif; */
    /* color: #333; */
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    //background-color: #e8e8e8;
    background: rgba(195, 224, 234, 0.48);
    position: relative;
    height: 70px;
    max-height: 70px;
    word-break: break-all;
    padding: 5px;
    padding-left: 10px;
  }

  .pin .fluid-thumbnail-grid-image-title {
    position: relative;

    div.title {
      background: rgb(128, 128, 128);
      background: rgba(128, 128, 128, 0.7);
      position: absolute;
      color: white !important;
      width: 100%;
      bottom: 0px;
      line-height: 2;
      padding: 5px;
      padding-left: 10px;
    }
    div.price {
      position: absolute;
      color: white !important;
      top: 0px;
      right: 0px;
      padding: 5px 10px;
      background: rgb(128, 128, 128);
      background: rgba(128, 128, 128, 0.7);
      -moz-border-radius-topright: 5px;
      -webkit-border-top-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  .pp-details {
    color: #333;
  }
}

@media screen and (min-width: 960px) {
  #pp-holder.grid .pin{
    // width: 49%;
  }
  /* #pp-holder.grid { */
    /* -webkit-column-count: 2; */
    /* -moz-column-count: 2; */
    /* column-count: 2; */
  /* } */
}

@media screen and (max-width: 581px) {
  .pin {
    .price {
      font-size: 0.8em !important;
    }
    .title {
      font-size: 0.875em !important;
    }
    .description {
      font-size: 0.675em !important;
    }
    .pp-details {
      width: 60% !important;
    }
  }
  .home-toolbar .home-toolbar-button-group .home-toolbar-button-group-button {
    width: auto !important;
  }

}

@media screen and (min-width: 1100px) {
  #pp-holder.grid .pin{
    // width: 32%;
  }
  /* #pp-holder.grid { */
    /* -webkit-column-count: 3; */
    /* -moz-column-count: 3; */
    /* column-count: 3; */
  /* } */
}

#pp-holder.grid:hover .pin:hover {
  opacity: 1;
}

/* list view */
#pp-holder.list:hover .pin:hover {
  opacity: 1;
}
#pp-holder.list  {
  .col-md-4,.col-sm-6,.col-xs-12 {
    width: 100%;
  }
}
#pp-holder.map {
  .col-md-4,.col-sm-6,.col-xs-12 {
    width: 100%;
    margin-bottom: 20px;
  }
}
#pp-holder.list .pin {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  /* height: 9em; */
  position: relative;
  border-bottom: 1px solid #c3c3c3;
  cursor: pointer;
  opacity: 0.9;
  .fluid-thumbnail-grid-image-title img {
    height: 100px;
  }
  .fluid-thumbnail-grid-image-title .title {
    display: inline-block;
    vertical-align: top;
    font-size: 1.375em;
    line-height: 1.09091em;
    font-weight: 600;
    width: 112px;
  }
  .fluid-thumbnail-grid-image-title .price {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 2em;
    line-height: 1;
    font-weight: 400;
  }
  .fluid-relative {
    position: relative;
    &.description .pp-details {
      position: absolute;
      bottom: 0;
      width: 70%;
      left: 154px;
    }
  }
}


/* SHOW */

.mkpl-lander {
  position:relative;
  margin: 0;
  padding: 0;
  border: 0;
}
.cover-img {
  position: relative;
  max-width: 120em;
  margin-left: auto;
  margin-right: auto;
}
.title-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.title-wrapper {
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin: 0 auto;
  max-width: 70em;
  background: transparent;
  width: 100%;
  height: 100%;
}
.title-header {
  width: 100%;
  height: 100%;
  padding: 0;
  display: table;
}
.title-header h1,.search-form {
  text-align: left;
  font-size: 1.625em;
  line-height: 1.38462em;
  font-weight: 600;
  color: #474747;
  display: table-cell;
  vertical-align: middle;
}
.title-header .search-form {
  input {
    height: 46px;
    width: 100%;
  }
}
.title-header span {
  font-size: 16px;
  display: inline-block;
  color: #8A9092;
}

.mkpl-cover-small {
  padding-top: 0%;
  height: 6em;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-image: image-url("bg.jpg");
}

.mkpl-cover-small-fade {
  padding-top: 0%;
  height: 6em;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
}

.fluidratio {
  position: relative;
  display: block;
  height: 6.95em;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-position: center center;
}

.cover-img-fade {
  position: absolute;
  top: 0em;
  max-width: 120em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(232,232,232,0.9);
}

article {
  padding-bottom: 4.5em;
  padding-top:1.5em;
}

.price-amount {
  font-size: 2.625em;
  line-height: 1.14286em;
  font-weight: 700;
  color: #474747;
  display: block;
  float: left;
  margin-right: 0.375em;
}
.price-pp {
  vertical-align: top;
  position: relative;
  top: 0.3125em;
  color: gray;
}

.qt-link {
}

.qt-link label {
  float: left;
  display: inline;
  width: auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.55em;
  margin: auto 0.6em auto 0;
  margin-top: 0.20em;
  margin-bottom: 0.1875em;
  color: #3c3c3c;
}

.qt-wrapper {
  width: 100%;
  margin-bottom: 1.125em;
}
.qt-input {
  display: block;
  overflow-y: hidden;
  input {
    width:100%;
    margin: 0;
    padding: 0.5em 0.6875em;
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -ms-border-radius: 0.3125em;
    -o-border-radius: 0.3125em;
    border-radius: 0.3125em;
    border: 2px solid #c3c3c3;
    min-height: 42px;
    width: 100%;
    padding: 0.25em 0.5em;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
    font-family: inherit;
    margin-bottom: 10px;
    &:focus {
      outline-width:0;
      outline: none;
      border-color: $orange;
    }
  }
}
.qt-btn {
  margin-bottom: 16.5px;
  button {
    background: $orange;
    color: #fff;
    font-size: 22px;
    height: 60px;
    &:hover {
      background: #f59e4d;
    }
  }
}

.qt-owner {
  position:relative;
}

.qt-owner-ava {
  width: 6.75em;
  height: 6.75em;
  position: absolute;
  top: 0;
  left: 0;
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #a64c5d;
  }
}
.owner-avatar-image {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100%;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

.qt-owner-details {
  width: 100%;
  padding-left: 6.75em;
  min-height: 6.75em;
  padding-left: 7.875em;
  margin-top: 0.375em;
  margin-bottom: 1.125em;
}
.owner-name {
  font-size: 1.375em;
  line-height: 1.09091em;
  font-weight: 600;
  height: 2.45455em;
  line-height: 3em;
  a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: $deep_orange;
    &:hover {
      color: $deep_orange;
      text-decoration: none;
    }
  }
}

.carousel-inner img {
  margin: 0 auto !important;
  max-height: 443px;
}

#carousel-generic {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 443px;
  background-color: #3c3c3c;
  top: 0px;
  left: 0px;
}
.carousel-control.right {
  background-image: none;
}

.qt-row {
  margin-bottom: 20px;
}

.social-btn {
  float: left;
  margin-right: 20px;
}

.qt-period {
  border: 1px $orange;
  padding: 0.1em 0.2em;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
  border-radius: 0.3125em;
  border: 1px solid $orange;
  cursor: pointer;
  &:hover {
    background: $orange;
    color: #fff;
  }
}

.back-link {
  font-size: 1.0em;
  margin-bottom: 15px;
  strong {
    color: $orange;
  }
}

/* top bar properties index */
.home-toolbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c3c3c3;
  .home-toolbar-button-group {
    float: right;
    width: auto;
    //margin-bottom: 0.75em;
    padding-right: 15px;
    .home-toolbar-button-group-button {
      color: #6f6f6f;
      width: 7.5em;
      text-align: center;
      cursor: pointer;
      padding-bottom: 4px;
      height: 2.625em;
      border: 0;
      display: block;
      float: left;
      margin: 0;
      line-height: 40px;
      padding: 0 0.75em;
      background: #e8e8e8;
      border-radius: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      &:first-child {
        -moz-border-radius-topleft: 0.375em;
        -webkit-border-top-left-radius: 0.375em;
        border-top-left-radius: 0.375em;
        -moz-border-radius-bottomleft: 0.375em;
        -webkit-border-bottom-left-radius: 0.375em;
        border-bottom-left-radius: 0.375em;
      }
      &:last-child {
        -moz-border-radius-topright: 0.375em;
        -webkit-border-top-right-radius: 0.375em;
        border-top-right-radius: 0.375em;
        -moz-border-radius-bottomright: 0.375em;
        -webkit-border-bottom-right-radius: 0.375em;
        border-bottom-right-radius: 0.375em;
      }
      &.selected {
        span {
          color: white !important;
        }
        color: white !important;
        border-width: 0;
        background-color: $fade_blue;
        border-color: $deep_blue;
      }
    }

  }
  .home-toolbar-filters {
    display: block;
    padding-left: 15px;
    .home-toolbar-toggle-container {
      margin-bottom: 0.75em;
      margin: 0;
      padding: 0;
      border: 0;
      &:after {
        webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

    }
  }
}

/* CREATE */
.pp-form {
  padding: 5px 10px;
  min-width: 160px;
  input,select,label {
    font-size: 13px;
  }
  input.long {
    width: 335px;
  }
  span.twitter-typeahead {
    display: block !important;
  }
  input.typeahead {
    display: block;
    width: 100%;
  }
  .main-orange-btn {
    margin-top: 5px;
    height: 40px;
  }
  .form-group {
    margin-bottom: 5px;
  }
  label {
    margin-bottom: 0px;
  }
}

.pp-form-long {
  input.long {
    width: 100%;
  }
  .main-orange-btn {
    margin-top: 5px;
    font-size: 1.7em;
    height: 65px;
  }
}

.mobile-link {
  display: none;
}
nav li a.mobile-link {
  display: none;
}
.dsk-link {
  .pp-dropdown-toggle {
    padding-right: 10px;
    height: 39px;
  }
}

@media screen and (max-width: 766px) {
  .dsk-link {
    display: none !important;
  }
  .mobile-link {
    display: block !important;
  }
  nav li a.dsk-link {
    display: none !important;
  }
  nav li a.mobile-link {
    display: block !important;
  }
}


strong.org-st {
  color: $orange;
}


/* pictures file field for property */
.property-pictures.preview {
  display: inline-block;
  vertical-align: bottom;
  height: 114px;
  width: 299px;
  overflow-y: hidden;
  .preview-container {
    /* max-width: 1000px; */
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    img {
      height: 114px;
      /* max-width: 114px; */
      display: inline-block;
    }
  }
}

.property-pictures.add-new {
  width: 114px;
  height: 114px;
  display: inline-block;
  background-color: gray;
  text-align: center;
  opacity: 0.3;
  color: white;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  i.glyphicon {
    font-size: 45px;
    line-height: 114px;
  }
}


.item {
  height: 443px;
  width: 100%;
  position: relative;
}
.carousel-inner .item img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}

.pp-filters {
  h4 {
    margin-top: 20px;
  }
}

.filter-wrapper {
  border-top:1px solid #c3c3c3;
  padding-top: 20px;
}

.filter {
  margin-bottom: 20px;
  input.slider-input {
    width: 100px;
    display: inline-block;
  }
  input.timepicker {
    font-size: 12px;
  }
}

.filter .ui-slider {
  border: 0px;
  background: #C3E0EA;
  background: rgba(195, 224, 234, 0.48);
}
.filter .ui-slider-range {
  background: $orange !important;
  border-color: $orange !important;
}

.filter .ui-slider-handle {
  background: #fff !important;
  border: 2px solid $orange;
  border-radius: 10px;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer !important;
}
