<div class="nav dropdown pull-left">
  <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#">
    Sublease <strong class="org-st"> in</strong> Finland
  </a>
  <ul class="dropdown-menu">
    <li><a href="<%= properties_path(city: session[:city])%>">Search results in <strong class="org-st"><%= session[:city] %> </strong></a></li>
    <li><a href="/">City select</a></li>
  </ul>
</div>
