<header>
  <%= nav_bar static: :top,brand: "", responsive: true do %>
  <%= menu_group pull: :right do %>
    <% if current_user %>
      <%= menu_item mailbox_inbox_path,"",class: "topbar-link topbar-link-ontop" do %>
        <i class="inbox-ico glyphicon glyphicon-envelope"></i> Inbox
      <% end %>
      <%= drop_down "Menu" do %>
        <%= menu_item edit_user_registration_path,"",class: "topbar-link" do%>
          <i class="glyphicon glyphicon-user"></i> Profile
        <% end %>
        <%= drop_down_divider %>
        <%= menu_item destroy_user_session_path,"", class: "topbar-link" do %>
          <i class="glyphicon glyphicon-log-out"></i> Sign Out
        <% end %>
      <% end %>
    <% else %>
      <%= menu_item "Register", 'javascript:;', "data-toggle" => "modal", "data-target" => "#loginModal","class" =>  "topbar-link topbar-link-ontop dsk-link"%>
      <%= menu_item "Sign In", 'javascript:;', "data-toggle" => "modal", "data-target" => "#loginModal","class" =>  "topbar-link  topbar-link-ontop dsk-link"%>
      <%= menu_item "Register", new_user_session_path,"class" =>  "btn btn-default mobile-link","style" => "margin-left: 15px;margin-bottom: 10px;width: 80%"%>
      <%= menu_item "Sign In", new_user_session_path,"class" =>  "btn btn-default mobile-link","style" => "margin-left: 15px;margin-bottom: 10px;width: 80%"%>
      <%= menu_item "Post Place for FREE", new_property_path, "class" =>  "btn btn-warning mobile-link","style" => "color: white;margin-left: 15px;margin-bottom: 10px;width: 80%"%>
    <% end %>
   <!-- Single button -->
   <%= menu_item do %>
      <div class="dsk-link dropdown keep-open pp-dropdown">
        <button type="button" class="btn btn-warning pp-dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          Post your place <strong> FREE !! </strong> <span class="caret"></span>
        </button>
        <div class="dropdown-menu keep-open pp-dropdown-menu">
          <%= render partial: "properties/short_form",locals: {property: Property.new} %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</header>

<%= render partial: 'devise/sessions/modal_login' %>

<script>
  $(".navbar-brand").remove();
  $(".navbar-header").prepend("<%=j render partial: 'layouts/brand' %>");
</script>


