<!DOCTYPE html>
<html>
<head>
  <title>Sublease in Finland</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=1463680153931394";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>
<%= render partial: 'layouts/header' %>
<div id="fb-root"></div>

<% flash.each do |key, value| %>
    <div class="text-center <%= flash_class(key) %>">
      <%= value %>
    </div>
<% end %>

<%= yield %>

</body>
<script>
  $(document).ready(function() {
    fixbs();
    $(".dropdown-toggle").dropdown();
    $('.required-login').click(function(e){
      e.preventDefault();
      $('#loginModal').modal('show');
    });
  });
  $(".location-address-input").geocomplete({
    componentRestrictions: {country: 'fi'}
  })
</script>
</html>
